<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <bean id="employee" class="com.oraclejava.model.Employee">
        <property name="employeeId" value="43" />
        <property name="employeeName" value="Sean Murphy" />
    </bean>

<!--    <bean id="juminCard" class="com.oraclejava.model.JuminCard">-->
<!--        <property name="juminNo" value="760101-1234567" />-->
<!--        <property name="juminName" value="신머피" />-->
<!--    </bean>-->
</beans>